.billing-page {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.main-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box; /* Add this */

}



.filter-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
  box-sizing: border-box; /* Add this */

}

.dropdown-container,
.input-container {
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box; /* Add this */

}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: rgba(54, 162, 235, 1);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(54, 162, 235, 1);
}

.table-container {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table thead tr {
  background-color: rgba(54, 162, 235, 1);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgba(54, 162, 235, 1);
}

.error-message {
  color: red;
  margin-top: 10px;
}

.table-container a {
  color: rgba(54, 162, 235, 1);
  text-decoration: none;
}

.table-container a:hover {
  text-decoration: underline;
}
